.login_toggleMode {
  cursor: pointer;
  color: #0000ff;
}
.login_modal {
  text-align: center;
  outline: none;
  position: absolute;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  /* box-shadow: theme.shadows[5];
  padding: theme.spacing(10); */
}

.login_modal_position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_reset {
  cursor: pointer;
}
.login_hiddenIcon {
  text-align: center;
  display: none;
}
.login_addIcon {
  cursor: pointer;
  color: gray;
}
.login_addIconLoaded {
  cursor: pointer;
  color: whitesmoke;
}
